.confirm {
  display: flex;
  font-size: 32px;
  flex: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding-top: 60px;
}

@media (max-width: 730px) {
  .confirm {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .confirm {
    text-align: center;
  }
}
