body {
  height: 100vh;
}

.contactform {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100%;
  padding-top: 20px;
}

.inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  padding-top: 60px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #D3D3D3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.labelTitle {
  font-size: 25px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 94%;
  padding-left: 10px;
}

@media (max-width: 400px) {
  .inside {
    width: 250px;
  }
}

@media (max-height: 750px) {
  .media {
    margin-bottom: 5px !important;
  }
}
@media (min-height: 1000px) {
  textarea {
    min-height: 150px;
  }
}