main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* font-size: 16px; */
}

.container {
    /* text-align: left; */
    margin: 80px;
    max-width: 1440px;
}

h1, h2, h3, h4 {
    color: black;
    font-size: 16px;
}

p, ul {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}