#rezeptAlex {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
  padding: 60px 140px;
}

.dish-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

#ingredient-calculation {
  display: flex;
  margin: 25px;
}

#customMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#messageContent {
  background: rgb(140, 93, 93, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border-radius: 10px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(230, 230, 230);
  margin: 40px 0;
}

#preparation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* #preparation p {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
} */

table {
  border-collapse: collapse;
}

.ingredients tbody tr:nth-of-type(2n + 1) td {
  background: #f3f4f0;
}

td {
  box-sizing: border-box;
  min-height: 48px;
  padding: 8px;
  vertical-align: top;
}

.time-indication {
    padding: 8px;
    background-color: #f3f4f0;
}

.recipe-icons {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.recipe-informations > span {
  display: inline-flex;
  margin-top: 24px;
  align-items: center;
  margin-right: 8px;
  border-radius: 8px;
  background-color: #f3f4f0;
  padding: 4px 8px;
}

.time-indication > span {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  border-radius: 8px;
  background-color: #f3f4f0;
  padding: 4px 8px;
}

p {
  margin-right: 8px; 
}

.creator img{
  width: 100px;
}

.creator {
  display: flex;
  justify-content: center;
}

.creator p {
  font-size: 24px;
  margin: 30px;
}