main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex: 1; 
}

#rezept {
    padding: 60px 140px;
    max-width: 1440px;
}

.dishImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    display: flex;
    gap: 20px;
}

.info p {
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.block {
    display: block;
    max-width: 500px;
    margin: 0;
}

.icon {
    width: 20px;
    padding-right: 8px;
}

#portionen {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    font-size: 18px;
    white-space: nowrap;
}

#portionen button {
    display: flex;
    align-items: center;
}

#portionen button img {
    filter: invert(1) grayscale(100%);
}

.line {
    width: 100%;
    height: 3px;
    background-color: rgb(230, 230, 230);
    margin: 40px 0;
}

#input {
    padding: 0 10px;
    max-width: 100px;
    height: 40px;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

td {
    padding: 5px;
}

td:first-child {
    width: 100px;
    text-align: right;
    border-radius: 10px 0 0 10px;
}

td:nth-child(2) {
    border-radius: 0 10px 10px 0;
}

#ersteller div{
    display: flex;
    align-items: center;
}

#ersteller img{
    width: 100px;
}

#ersteller p {
    font-size: 24px;
    margin: 30px;
}

#customMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageContent {
    background: rgb(140, 93, 93, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 470px) {
    h2 {
        font-size: 1.2rem;
    }
    
    .info {
        gap: 5px;
        font-size: 12px;
    }

    .icon {
        width: 15px;
    }

    #portionen {
        font-size: 16px;
        gap: 5px;
    }

    #input {
        width: 30px;
        font-size: 16px;
    }
}