#start h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

#start {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex: 1; 
}

#rezeptDesTages {
    max-width: 1440px;
    padding: 60px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rezeptDesTages img{
    width: 300px;
    border-radius: 10px;
    margin: 0 50px;
}

#rezeptDesTages h2 {
    margin-top: 0;
}

#rezepte {
    background-color: lightgrey;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rezepte img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
}

#rezepte img:hover {
    border: 5px solid white;
    transition: 0.1s;
}

.rezepte {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.rezeptBox {
    margin: 0 10px;
}

#start a {
    text-decoration: none;
    color: black;
}

#misc {
    text-align: center;
    padding: 60px 140px;
    max-width: 1440px;
}

#misc img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#misc #box {
    display: flex;
    align-items: center;
}

#misc p {
    padding: 0 50px;
    text-align: left;
}