#start h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

#start {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex: 1; 
}

#rezeptDesTages {
    max-width: 1440px;
    padding: 60px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rezeptDesTages img{
    width: 300px;
    border-radius: 10px;
    margin: 0 50px;
}

#rezeptDesTages h2 {
    margin-top: 30px;
}

#rezepte {
    background-color: lightgrey;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rezepte img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-sizing: border-box;
}

#rezepte img:hover {
    border: 5px solid white;
    transition: 0.1s;
}

.rezepte {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.rezeptBox {
    margin: 0 10px;
}

#start a {
    text-decoration: none;
    color: black;
}

#misc {
    text-align: center;
    padding: 60px 80px;
    max-width: 1440px;
}

#misc img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

#misc #box {
    display: flex;
    align-items: center;
}

#misc p {
    padding: 0 50px;
    text-align: left;
}

@media (max-width: 800px){
    #rezeptDesTages {
        flex-direction: column;
    }

    .rezepte {
        flex-direction: column;
    }

    .rezeptBox:not(:last-child){
        padding: 20px 0;
    }

    #misc #box{
        flex-direction: column-reverse;
    }

    #misc img {
        width: 100%;
        height: 150px;
    }

    #misc p {
        margin-top: 30px;
        margin-bottom: 0;
        padding: 0;
    }
}

@media (max-width: 470px) {    
    #rezeptDesTages img {
        width: 200px;
        margin: 0 20px;
    }

    #misc {
        padding: 60px 40px;
    }
}